msvc_boost/
msvc_collada/
msvc_libxml2/
msvc_soqt/
msvc_ode/
msvc_soqt/

*.iv
*.wrl
*.pyc

*~*
*#*

*.o
*.a

*.dylib
openrave/src/build
build

.DS_Store
src/3rdparty/pcre/config.h
src/openrave/config.h
